form.login-form {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: auto;
}

form.login-form input {
  width: 100%;
  max-width: 500px;
  margin: 5px 0;
}

.warnings {
  margin-top: 15px;
}

.site-button-disabled {
  background-color: #818c8d !important;
}

input#username,
input#password {
  margin-bottom: 10px;
}
